.StripeElement {
  box-sizing: border-box;

  border: 1px solid #ddd;

  font-family: 'Avenir', Helvetica Neue, Helvetica, Arial, sans-serif;

  padding: 10px;
  border-radius: 4px;
  line-height: 1;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.is-expired, .is-expired svg.i {
  color: var(--error) !important;
}

.is-expired-background {
  background: var(--error) !important;
  color: var(--bg-color) !important;
  font-weight: bold;
}

.is-expiring, .is-expiring svg.i {
  color: var(--warn) !important;
}

.is-expiring-background {
  background: var(--warn) !important;
  color: var(--bg-color) !important;
  font-weight: bold;
}

.is-member, .is-member svg.i {
  color: var(--success) !important;
}

.is-member-background {
  background: var(--success) !important;
  color: var(--bg-color) !important;
  font-weight: bold;
}

.is-nonmember, .is-nonmember svg.i {
  color: var(--light-text) !important;

  &:hover {
    color: var(--primary-color) !important;
  }
}

.is-nonmember-background {
  background: var(--border-color) !important;
  color: var(--text-color) !important;
}
