// $blue: #005B80;
$green: #1BCC04;
$blue: #1b8cd8;
$gray: #2c3e50;
$light-gray: #EDF2F7;
$medium-gray: #F2F2F2;
$red: #CC3F06;
$sidebar-width: 230px;
$nav-height: 66px;
$content-padding: 80px;
$tablet-content-padding: 40px;
$content-width: 46em;
$media-player-width: 350px;

@mixin clearfix() {
 &:after {
     display: block;
     content: ' ';
     clear: both;
 }
}

@import "./css/reset.css";
@import "./css/content.scss";
@import "./css/nav.scss";
@import "./css/app.scss";
@import "./css/sidebar.scss";
@import "./css/feed.scss";
@import "./css/media-player.scss";
@import "./css/columns.scss";
@import "./css/services.scss";
@import "./css/subscription-modal.scss";
