.relativizer {
    position: relative;
}

.embed-media {
    &.inline-player {
        position: relative;
        margin-bottom: 20px;
        margin-top: -$content-padding;
        margin-left: -$content-padding;
        margin-right: -$content-padding;
        margin-bottom: $content-padding;

        .aspect-ratio-box {
            border-radius: 20px 20px 0 0;
        }
    }

    &.popout-player {
        position: fixed;
        bottom: -1px;
        right: -1px;
        border-top: 5px solid var(--secondary-color);
        border-left: 5px solid var(--secondary-color);
        z-index: 99999;
        background: var(--bg-color);
        border-top-left-radius: 20px;

        .player-wrapper {
            width: 500px;
        }

        @media (max-width: 640px) {
            .player-wrapper {
                width: $media-player-width;
            }
        }

        .video-embed {
            background: #000;
        }

        audio {
            margin: 10px;
        }
    }

    .player-wrapper {
        position: relative;
        width: 100%;
    }

    .title {
        padding: 12px;

        h3 {
            font-weight: bold;
            margin-bottom: 0;
            font-size: 100%;
        }

        h3, p {
            width: 86%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        p {
            font-size: 85%;
            opacity: 0.75;
            margin-bottom: 0;
        }

        .close {
            position: absolute;
            top: 0;
            right: 0;
            text-align: center;
            margin: 1em;
            padding: 0.6em 0.8em;
            border-radius: 7px;
            font-size: 90%;
            line-height: 1;
            color: #aaa;
            background: var(--bg-emphasis);
            display: block;

            &:hover {
                background: #ddd;
            }
        }
    }
}
