html {
  background: var(--secondary-color);
  color: var(--text-color);
}

#app {
  font-family: 'Avenir', Helvetica Neue, Helvetica, Arial, sans-serif;
  // font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 300;

  @media (max-width: 880px) {
    font-size: 15px;
  }

  @media (max-width: 640px) {
    font-size: 14px;
  }
}

.primary,
.link,
.content .items > li > h3,
.content .description a,
.vue-tabs .tab.active a,
.check:hover,
.explanation,
.stars {
  color: var(--link-color);
}

.content button,
.content .button {
  background: var(--link-color);
}
