.columns {
    @include clearfix();

    .half-column {
        float: left;
        width: 48.75%;
        margin-right: 2.5%;
        clear: none;

        &:nth-child(2n) {
            margin-right: 0;
        }

        &:nth-child(2n + 1) {
            clear: both;
        }

        @media (max-width: 640px) {
            width: 100%;
            margin: 0;
            float: none;
            margin-right: 0;
            margin-top: 20px;
            clear: both;
        }
    }

    .third-column {
        float: left;
        width: 31.66%;
        margin-right: 2.5%;
        clear: none;

        &:nth-child(3n) {
            margin-right: 0;
        }

        &:nth-child(3n + 1) {
            clear: both;
        }

        @media (max-width: 640px) {
            width: 100%;
            margin: 0;
            float: none;
            margin-right: 0;
            margin-top: 20px;
            clear: both;
        }
    }
}
