.table {
  display: table;
  width: 100%;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
  white-space: nowrap;
}

.header .nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background: #fff;
  border-bottom: 1px solid $medium-gray;

  &:after {
    content: ' ';
    display: block;
    clear: both;
  }

  a {
    display: block;
    padding: 20px;
    outline: none;

    // &.router-link-exact-active,
    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }
  }

  .table-cell {
    position: relative;
  }

  .logo {
    text-align: left;
    white-space: normal;
    width: $sidebar-width;

    a {
      text-align: center;
      width: $sidebar-width;
      padding: 0 18px;

      &:hover {
        opacity: 0.8;
      }
    }

    img {
      width: 100%;
      margin-top: -3px;
      margin-bottom: -3px;
      vertical-align: middle;
    }
  }

  .search {
    width: 100%;
    // max-width: $content-width;
    padding-right: $content-padding;
    padding-left: $content-padding;

    input {
      width: 100%;
      background: $light-gray;
      color: rgba(0, 0, 0, 0.3);
      outline: none;
      padding: 10px 13px;
      line-height: 1;
      border-radius: 8px;

      &::placeholder {
        color: inherit;
      }

      &:focus {
        color: $gray;

        &::placeholder {
          color: rgba(0, 0, 0, 0.3);
        }
      }
    }
  }

  .identities {
    text-align: right;

    ul {
      display: none;
      position: absolute;
      right: 0;
      background: #fff;
      border: 1px solid $light-gray;
      text-align: left;

        .encrypted {
          font-size: 80%;
          font-style: oblique;
          opacity: 0.5;
        }

        a {
          padding-top: 10px;
          padding-bottom: 10px;
          border-bottom: 1px solid $light-gray;
        }

        li:last-child a {
          border-bottom: 0;
        }
    }
  }

  li:hover ul {
    display: block;
  }
}
