.table {
  display: table;
  width: 100%;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
  white-space: nowrap;
}

.header .nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background: $blue;
  border-bottom: 1px solid $blue;
  font-size: 16px;
  color: #fff;
  z-index: 99999;

  &:after {
    content: ' ';
    display: block;
    clear: both;
  }

  a {
    display: block;
    padding: 20px;
    outline: none;

    @media (max-width: 640px) {
      padding: 5px;
    }

    // &.router-link-exact-active,
    // &:hover {
    //   background: rgba(255, 255, 255, 0.1);
    // }
  }

  svg {
    font-size: 52px;
    display: inline-block;
    vertical-align: middle;
    padding: 15px;
    color: rgba(255, 255, 255, 0.6);

    &.loader {
      opacity: 1;
    }
  }

  .table-cell {
    position: relative;
  }

  .logo {
    text-align: left;
    white-space: normal;
    width: $sidebar-width;

    a {
      width: $sidebar-width;
      padding: 6px 18px;
      text-align: center;

      &:hover {
        opacity: 0.8;
      }
    }

    @media (max-width: 640px) {
      width: auto;

      a {
        width: 60px;
        padding: 2px 8px;
      }
    }

    img {
      margin-top: -3px;
      margin-bottom: -3px;
      vertical-align: middle;

      &:first-child {
        @media (max-width: 640px) {
          display: none;
        }
      }

      &:last-child {
        height: 54px;
        margin-top: 0;
        margin-bottom: 0;

        @media (min-width: 641px) {
          display: none;
        }
      }
    }
  }

  .search {
    width: 100%;
    // max-width: $content-width;
    padding-right: $content-padding;
    padding-left: $content-padding;

    @media (max-width: 880px) {
      padding-left: $tablet-content-padding;
      padding-right: $tablet-content-padding;
    }

    @media (max-width: 640px) {
      padding-left: 10px;
      padding-right: 10px;
    }

    input {
      width: 100%;
      outline: none;
      padding: 10px 13px;
      line-height: 1;
      border-radius: 8px;
      background: rgba(255, 255, 255, 0.2);
      color: rgba(255, 255, 255, 0.6);

      &::placeholder {
        color: inherit;
      }

      &:focus {
        // background: #fff;
        // color: $blue;
        background: rgba(255, 255, 255, 0.3);
        color: #fff;

        &::placeholder {
          color: rgba(255, 255, 255, 0.6);
        }
      }
    }
  }

  .identities {
    text-align: right;

    ul {
      display: none;
      position: absolute;
      right: 0;
      border-top: 1px solid $blue;
      text-align: left;
      background: $light-gray;

        .encrypted {
          font-size: 80%;
          font-style: oblique;
          opacity: 0.5;
        }

        li {
          border-bottom: 1px solid #fff;
        }

        a {
          padding-top: 10px;
          padding-bottom: 10px;
          color: $gray;

          &:hover {
            background: rgba(255, 255, 255, 0.6);
            color: $blue;
          }
        }

        li:last-child a {
          border-bottom: 0;
        }
    }

    svg {
      vertical-align: middle;
    }

    @media (max-width: 640px) {
      strong {
        display: none;
      }

      & > a {
        width: auto;
        padding-left: 0;
        padding-right: 0;
      }
    }

    @media (min-width: 641px) {
      svg {
        display: none;
      }
    }
  }

  @media (min-width: 641px) {
    li:hover ul {
      display: block;
    }
  }

  @media (max-width: 640px) {
    background: $blue;
    border-bottom-color: $blue;
  }
}
